extends layout

block content
    body.bkimg
        // p=message
        form(action='/loginRen', method='GET')
            input(type='submit', value='Login').login

        //form(action='/authenticateGoogle', method='GET')
        //    p Add Calendar
        //    p
        //        | Please enter your username:
        //        input(type='text', name='username', value='')
        //    input(type='submit', value='Get Started')
        //
        //form(action='/authenticateSpotify', method='GET')
        //    p Sync Top Artists
        //    p
        //        | Please enter your username:
        //        input(type='text', name='username', value='')
        //    input(type='submit', value='Sync')
