extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                body.bkimglogin
                    // login form
                    form(action='/login', method='GET').form
                        p.p= message
                        h1.lable Log in
                        div.username
                            input#name(type='text', placeholder='username' name='username')
                        div.password
                            input#pw(type='password', placeholder='password' name='password')
                        button(type='submit').button Log in
                        p.p
                            | not a member?
                            a(href="/registerRen").a Sing Up now