doctype html

html(lang="en")
    head
        title Login
    body
        #main
        form(action='/callbackgoogle', method='GET')
            div.label login
            div.username
                input(type="text" placeholder="username")
            div.password
                input(type="password" placeholder="password")
            div.checkbox
                input(type='checkbox' name='agreement' checked)
                | Remember me
            button(type="button") login
            h3 or login with
            div.social
                button(type="button") <i class="fa fa-spotify"></i>
                button(type="button") <i class="fa fa-google-plus"></i>
            p
                | not a member
                a(href="#") Sing Up now