extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                body.bkimglogin
                    // register form
                    form(method='GET' action='/register').form
                        h1.lable Sign up
                        div.username
                            input#name(type='text', placeholder='username' name='username')
                        div.password
                            input#pw(type='password',placeholder='password' name='password')
                        div.password
                            input#pw2(type='password',placeholder='confirm password' name='confirmPassword')
                        button(type='submit').button Sign up